@model UserJson

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* 这里写一个SelectList *@
                <label class="control-label">Organization Name</label>
                <select name="OrgId" class="form-control" asp-items="ViewBag.OrgId"></select>
                @*<input asp-for="ParentId" class="form-control" />*@
            </div>
            <div class="form-group">
                <label asp-for="SignName" class="control-label"></label>
                <input asp-for="SignName" class="form-control" />
                <span asp-validation-for="SignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
