@model UserJson

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
@if (ViewBag.ErrMsg != null)
{
    <div class="err-msg" style="color:red">@ViewBag.ErrMsg?.ToString()</div>
}
<h4>UserBaseJson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SignName" class="control-label"></label>
                <input asp-for="SignName" class="form-control" />
                <span asp-validation-for="SignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
