@model User

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthTime" class="control-label"></label>
                <input asp-for="BirthTime" class="form-control" />
                <span asp-validation-for="BirthTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCode" class="control-label"></label>
                <input asp-for="UserCode" class="form-control" />
                <span asp-validation-for="UserCode" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="_CreateUserId" class="control-label"></label>
                <input asp-for="_CreateUserId" class="form-control" />
                <span asp-validation-for="_CreateUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_CreateTime" class="control-label"></label>
                <input asp-for="_CreateTime" class="form-control" />
                <span asp-validation-for="_CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_UpdateUserId" class="control-label"></label>
                <input asp-for="_UpdateUserId" class="form-control" />
                <span asp-validation-for="_UpdateUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_UpdateTime" class="control-label"></label>
                <input asp-for="_UpdateTime" class="form-control" />
                <span asp-validation-for="_UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_DeleteUserId" class="control-label"></label>
                <input asp-for="_DeleteUserId" class="form-control" />
                <span asp-validation-for="_DeleteUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_DeleteTime" class="control-label"></label>
                <input asp-for="_DeleteTime" class="form-control" />
                <span asp-validation-for="_DeleteTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="_IsDeleted" /> @Html.DisplayNameFor(model => model._IsDeleted)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
